
@import '_mixins'

body_background = rgba(0, 0, 0, 0.03)
text_shadow_color = rgba(255, 255, 255, 0.7)
text_color = rgb(67, 67, 67)
default_font = 13px 'open_sansregular'

body
  background body_background
  color text_color
  text-shadow 1px 1px text_shadow_color
  font default_font
  
body, html
  margin 0 auto
  padding 0
  width 100%
  height 100%

h1
  font-family 'open_sansbold'
  letter-spacing -1px
        
strong
  font-family 'open_sansbold'
  
a
a:visited
  text-decoration none
  color #77B1E3

a:hover
a:active
  color #E39737