
@import '_mixins.styl'

text_shadow_color = rgba(0, 0, 0, 0.7)

body, html
	margin 0 auto
	padding 0
	font default_font
	color text_color
	text-shadow 1px 1px text_shadow_color
	line-height 25px
	min-width 800px
	min-height 650px
	width 100%
		

