
@import '_mixins'

.docs
  width 96%
  padding 2%
		
  ul
    list-style none
    width 15%
    float left
    margin-top 23px
    position fixed
    
  .copy
    width 65%
    float left
    margin-left 20%
    
    h2
      line-height 35px
    
    pre
      display block
      margin 0
      padding 20px 10px 10px 0
      background #fff
      rounded 10px
      
    ol
      li
        margin 10px 0
        font-size 15px
        
         