
@import '_mixins'

.docs
  width 96%
  padding 2%
		
  ul
    list-style none
    width 15%
    float left
    margin-top 23px
    position fixed
    
    a.current
      color #E39737
    
  .copy
    width 65%
    float left
    margin 20px 0 30px 25%
    line-height 23px
    
    h1
      padding 0
      margin 20px 0 0 0
      
    h2
      line-height 35px
    
    h2.intro
      display block
      padding 10px 0
      border 1px solid rgba(0,0,0,0.3)
      border-width 1px 0
    
    h3
      padding 10px 0 0 0
    pre
      display block
      margin 0
      padding 17px 0 0 0
      background #fff
      rounded 10px
    
    img
      max-width 100%
      
    ol
      padding 10px 0 0 35px
      li
        margin 10px 0
        font-size 15px
        
         