<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Flint</title>
<link rel="stylesheet" href="/public/application.css" />
<link rel="apple-touch-icon" href="/public/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  
  <!-- REMOVE THIS MARKUP -->  
  <div class="docs">
    <h1>Flint is up and running.</h1>
    <p>This markup is located in views/index.html. You should delete it before you get started.</p>
    <p>Want learn more about how Flint works? Read <a href="http://useflint.org/docs/">the documentation</a></p>
    <p><strong>Have Fun Building!</strong><br /><br /> &nbsp;&nbsp;&mdash; The Flint Crew</p>
  </div>
  <!-- END INTRO MARKUP  -->

{{include '_scripts.html' this}}  
 <script type="text/javascript"> $(document).ready(function(){ app = new controllers.Application(); }); </script>
</body>
</html>
